VITE_API_BASE_URL=<api_base_url>
VITE_APP_NAME=<app_name>
VITE_APP_TITLE=<app_title>
VITE_APP_BASE_URL=<app_url>
VITE_APP_TERMS_URL=<terms_url>
VITE_APP_PRIVACY_URL=<privacy_url>
VITE_APP_LOGO_URL=<logo_url>
VITE_AUTH_PROVIDERS=[]
