name: Build & publish to NPM

on:
  push:
    branches: [master]

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: 'master'

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Debug Node & npm versions
        run: |
          node -v
          npm -v
          npm config get registry

      - name: Install dependencies
        run: npm i

      - name: Run tests
        run: npm run test:unit

      - name: Build the package
        run: npm run build

      - name: Publish to npm
        run: npm publish
